<body>
  <div class="background"></div>
  <header>
    <div class="top">
      <div class="menu">
        <p class="menu_icon">
          <i class="fas fa-bars fa-2x"></i>
        </p>
      </div>
      <div class="logo">LOGO</div>
    </div>
  </header>
  <main-content>
    <div class="contents">
      <div class="content1">
        <%= image_tag 'one.JPG', class:"image1" %>
        <div class="sentence1">Good Vibes Only</div>
      </div>
      <div class="content2">
        <%= image_tag 'two.JPG', class:"image2" %>
        <div class="sentence2">The Best Gift 
          <br>is
          <br>YOU
        </div>
      </div>
      <div class="content3">
        <%= image_tag 'three.JPG', class:"image3" %>
        <div class="sentence3">ICE CREAM 
          <br>solves 
          <br>EVERYTHING
        </div>
      </div>
      <div class="content4">
        <%= image_tag 'four.JPG', class:"image4" %>
        <div class="sentence4">You look GOOD</div>
      </div>
      <div class="content5">
        <%= image_tag 'five.JPG', class:"image5" %>
        <div class="sentence5"></div>
      </div>
      <div class="content6">
        <%= image_tag 'six.JPG', class:"image6" %>
        <div class="sentence6">ENJOY 
          <br>the 
          <br>little things
        </div>
      </div>
      <div class="content7">
        <%= image_tag 'seven.JPG', class:"image7" %>
        <div class="sentence7">BE OPTIMISTIC</div>
      </div>
      <div class="content8">
        <%= image_tag 'eight.JPG', class:"image8" %>
        <div class="sentence8">Life is 
          <br>BEATY 
          <br>FULL
        </div>
      </div>
      <div class="content9">
        <%= image_tag 'nine.JPG', class:"image9" %>
        <div class="sentence9">Aim High 
          <br>FLY HIGHER
        </div>
      </div>
      <div class="content10">
        <%= image_tag 'ten.JPG', class:"image10" %>
        <div class="sentence10">GIRLS 
          <br>just wanna have 
          <br>FUN
        </div>
      </div>
      <div class="content11">
        <%= image_tag 'eleven.JPG', class:"image11" %>
        <div class="sentence11"></div>
      </div>
      <div class="content12">
        <%= image_tag 'twelve.JPG', class:"image12" %>
        <div class="sentence12">You're worthy of 
          <br>LOVE
        </div>
      </div>     
    </div>
    <div class="copyright">©️2020 5a0r1,Created by Saori Koga</div>
  </main-content>
</body>